.parallax {
    background-color: white;

    /* The image used */
    background-image: url("evi-radauscher.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height:300vh;
    padding-top:100vh;
}

.kuultavuus {
  height: 600px;
  background:rgba(255,255,255,0.5);
  /* text-align: center;
  padding: 50px 80px;
  text-align: justify; */
}


form {
  border-radius: 5px;
  font-size: 16px;
  padding: 20px;
  width: 61%;
  margin: 24px;
  font-family: 'Bellefair', serif;
}

/* navin tyyli alkaa */

nav {
  display: block;
  padding: 15px;
  background-color: #ddc0a1;
  text-align:center;
  position: fixed;
  top: 0;
}

a {
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Bellefair', serif;
}

.normal_link:hover {
  background-color: #d0a77c;
}

.thispage {
  background-color: #c3c388;
}

/* navin tyyli loppuu */

footer {
  text-align: center;
  font-size: 14px;
  color: white;
  background-color: #55552b;
  max-height: 265px;
  clear: both;
  font-family: 'Bellefair', serif;
}
