/* Parallax-efekti */
.parallax {
    background-color: white;
    min-height: 500px;

    /* The image used */
    background-image: url("evi-radauscher.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 780px;
    padding-top:700px;
}

.kuultavuus {
  height: 780px;
  background:rgba(255,255,255,0.6);
  /* text-align: center;
  padding: 50px 80px;
  text-align: justify; */
}

.peittavampiKuultavuus {
  background-color: white;
  opacity: 0.9;
  width: 80%;
  position: absolute;
  left: 10%;
  /* Rollaus-efekti */
  overflow: auto;
  height: 650px;
  display: block;
  padding-right: 4px;
}
/* Parallax-efekti loppuu */


/* Otsikon ja alaotsikon tyyli */
.otsikko {
  font-size: 40px;
  font-family: 'Bellefair', serif;
  letter-spacing: 12px;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
}

.alaOtsikko {
  font-size: 26px;
  font-family: 'Bellefair', serif;
  letter-spacing: 8px;
  text-align: center;
  position: absolute;
  top: 48%;
  left: 0;
  width: 100%;
}

/* Kuultavan palkin tyyli alkaa tästä */
form {
  border-radius: 5px;
  font-size: 16px;
  padding: 60px;
  /* width: 81%; */
  margin: 24px;
  font-family: 'Bellefair', serif;
}

.postausTyyli {
  /* background-color: white;
  opacity: 0.9; */
  font-family: 'Bellefair', serif;
  padding: 10px;
  font-size: 17px;
}

.viestinTyyli {
  /* background-color: white;
  opacity: 0.9; */
  font-family: 'Bellefair', serif;
  padding-left: 5px;
  padding: 10px;
  font-size: 17px;
  /* Rollaus-efekti */
  /* overflow: auto;
  height: 150px;
  display: block;
  padding-right: 4px; */
}

.kommentinTyyli {
  font-family: 'Bellefair', serif;
  padding-left: 25px;
  font-size: 15px;
}
/* Ja kuultavan palkin tyyli loppuu tähän */


/* Navin tyyli alkaa */
nav {
  display: block;
  padding: 15px;
  background-color: #ddc0a1;
  text-align:center;
  /* position: fixed;
  top: 0; */
  width: 97.6%;
}

a {
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Bellefair', serif;
}

.normal_link:hover {
  background-color: #d0a77c;
}

.thispage {
  background-color: #c3c388;
}

#navbar {
  overflow: hidden;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
/* Navin tyyli loppuu */

footer {
  text-align: center;
  font-size: 14px;
  color: white;
  background-color: #55552b;
  max-height: 265px;
  clear: both;
  font-family: 'Bellefair', serif;
}
