/* Parallax-efekti */
.parallax {
    background-color: white;
    min-height: 500px;

    /* The image used */
    background-image: url("evi-radauscher.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 780px;
    padding-top:700px;
}

.kuultavuus {
  height: 780px;
  background:rgba(255,255,255,0.6);
  /* text-align: center;
  padding: 50px 80px;
  text-align: justify; */
}

.peittavampiKuultavuus {
  background-color: white;
  opacity: 0.9;
  width: 80%;
  position: absolute;
  left: 10%;
  /* Rollaus-efekti */
  overflow: auto;
  height: 770px;
  display: block;
  padding-right: 4px;
  z-index: 5;
}
/* Parallax-efekti loppuu */


/* Otsikon ja alaotsikon tyyli */
.otsikko {
  font-size: 40px;
  font-family: 'Bellefair', serif;
  letter-spacing: 12px;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
}

.alaOtsikko {
  font-size: 26px;
  font-family: 'Bellefair', serif;
  letter-spacing: 8px;
  text-align: center;
  position: absolute;
  top: 48%;
  left: 0;
  width: 100%;
}

/* Kuultavan palkin tyyli alkaa t채st채 */
form {
  border-radius: 5px;
  font-size: 16px;
  padding: 60px;
  /* width: 81%; */
  margin: 24px;
  font-family: 'Bellefair', serif;
}

.postausTyyli {
  /* background-color: white;
  opacity: 0.9; */
  font-family: 'Bellefair', serif;
  padding: 10px;
  font-size: 17px;
}

.viestinTyyli {
  /* background-color: white;
  opacity: 0.9; */
  font-family: 'Bellefair', serif;
  padding-left: 5px;
  padding: 10px;
  font-size: 17px;
  /* Rollaus-efekti */
  /* overflow: auto;
  height: 150px;
  display: block;
  padding-right: 4px; */
}

.kommentinTyyli {
  font-family: 'Bellefair', serif;
  padding-left: 25px;
  font-size: 15px;
}
/* Ja kuultavan palkin tyyli loppuu t채h채n */


/* Navin tyyli alkaa */
.topnav {
  display: block;
  overflow: hidden;
  padding: 15px;
  background-color: #ddc0a1;
  text-align: center;
  /* position: fixed;
  top: 0; */
  width: 97.6%;
  z-index: 10;
}

.topnav a {
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Bellefair', serif;
}

.normal_link:hover {
  background-color: #d0a77c;
}

.thispage {
  background-color: #c3c388;
}

/*navin sticky*/

.content {
  padding: 14px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 97.6%;
}

.sticky + .content {
  padding-top: 60px;
}

.topnav .icon{
  display: none;
  padding: 5px;
}

/* navin responsiivisuus */

@media screen and (max-width: 500px) {
  .topnav a:not(:first-child){
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Navin tyyli loppuu */

footer {
  text-align: center;
  font-size: 14px;
  color: white;
  background-color: #55552b;
  max-height: 265px;
  clear: both;
  font-family: 'Bellefair', serif;
}

#viestiNappula {
  background-color: #ddc0a1;
  color: white;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  font-family: 'Bellefair', serif;
  font-size: 14px;
}

#viesti {
  max-width: 95%;
  font-size: 20px;
}

/*etusivun viestien tyyli*/
.viesti {
  padding: 10px 15px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 10px;
  min-width: 96%;
  margin: 5px;
}

.viestiTeksti {
  font-size: 20px;
  clear: both;
  display: block;
}

.lahettaja {
  display: inline
  font-size: 24px;
  font-weight: bold;
  float: left;
  margin-rigth: 40%
}

.ajankohta {
  display: inline
   font-sixe: 14px;
   font-weight: lighter;
   float: right;
   margin-left: 40%
}

.lampo {
  display: inline;
  font-size: 24px;
  font-weight: bold;
  padding: 0px 5px 5px 0px;
}

.lampoNappula {
  display: inline;
  background-color: #ddc0a1;
  color: white;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  font-family: 'Bellefair', serif;
  font-size: 14px;
  max-width: 20%;
}

  .kommenttiNappula {
    display: block;
    background-color: #ddc0a1;
    color: white;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    font-family: 'Bellefair', serif;
    font-size: 14px;
  }
