body {
  text-align: center;
  font-family: 'Bellefair', serif;
}

h1 {
  font-size: 26px;
}

.kuva {
  position: absolute;
  left: 45%;
  width: 100px;
  height: auto;
}

.käyttäjänimi {
  position: relative;
  font-size: 24px;
  padding: 15px;
}

.lämmönmäärä {
  font-size: 20px;
}

.setting {
  font-size: 24px;
  /* width: 460px;
  padding: 5px;
  float: right; */
  border: 10px;
  padding-top: 20px;
}

.asetukset {
  position: absolute;
  width: 3%;
  left: 41%;
  float: rigth;
}

.ulos {
      background-color: #ddc0a1;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      font-family: 'Bellefair', serif;
}

.ulos:hover{
  opacity: 0.8;
}
