/* Kaikki keskelle ja oikea fontti */
body {
  text-align: center;
  font-family: 'Bellefair', serif;
}

/* Otsikon fontti */
h1 {
  font-size: 26px;
}

/* kuva oikean kokoiseksi ja oikeaan kohtaan */
.kuva {
  position: absolute;
  left: 45%;
  width: 100px;
  height: auto;
}

/* nimi oikeaan kohtaan ja oikean kokoiseksi */
.käyttäjänimi {
  position: relative;
  font-size: 24px;
  padding: 15px;
}

/* lämpö */
.lämmönmäärä {
  font-size: 24px;
}

/* Asetukset oikeaan kohtaan (ei tee vielä mitään) */
.setting {
  font-size: 24px;
  border: 10px;
  padding-top: 20px;
}

/* .asetukset {
  position: absolute;
  width: 3%;
  left: 41%;
  float: rigth;
} */

/* kirjaudu ulos */
.ulos {
      background-color: #ddc0a1;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 20%;
      font-family: 'Bellefair', serif;
}

.ulos:hover{
  opacity: 0.8;
}
